* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.install-btn {
    background-color: #00aaff;
    color: white;
    font-weight: bold;
}

.ratings .fa-star {
    color: #ffcc00;
}

.winning-section img {
    width: 100%;
}

.payment-icons img {
    width: 80px;
    margin: 2px;
}

.review-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.game-card {
    text-align: center;
    padding: 20px;
}

.game-card img {
    width: 80px;
}

.install-btn {
    background-color: #008c4a;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    font-style: italic;
}

.game-details {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.game-details div {
    text-align: center;
}

.game-details span {
    font-weight: bold;
}

hr.vertical {
    width: 1px;
    border: none;
    background-color: black;
    margin: 0;
}

#insBtn:hover {
    background-color: green;
}

.logo-img {
    border: 2px solid #ffc4cada;
    border-radius: 5px;
}

/* media query */

@media (max-width: 699px) {
    .game-details {
        gap: 20px !important;
    }

    .micon i {
        font-size: 30px !important;
    }

    .text4 {
        font-size: 50px !important;
    }

    .star i {
        font-size: 30px !important;
    }

    .logo-img img {
        width: 70px !important;
    }
}