*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(112, 203, 112);
}

.item{
    margin: 5px 10px;
    padding: 2px 4px;
    border-radius: 5px;
}

.btn{
    min-width: 100px;
}

.spec{
    margin: 0px 0px 5px 18px;
}

.container{
    max-width: 542px !important;
}